# Ignore all .env files
**/.env

# Ignore all venv directories
**/venv

# Ingore Terraform State file
**/terraform.tfstate
**/minecraft-infra/.terraform/*

# Ignore some Minecraft configs
**/minecraft-infra/server.properties
**/minecraft-infra/rcon-cli.yml
**/minecraft-infra/whitelist.json